{% extends 'RentEase/base.html' %}

{% block title %}Login - RentEase{% endblock %}

{% block content %}

<div class="row justify-content-center mb-3" >
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="h3 mb-4 text-center">Login</h1>

                {% if form.non_field_errors %}    
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username or Email</label>
                        <input type="text" name="username" id="id_username" class="form-control" required placeholder="e.g. RentEase4U">
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        <input type="password" name="password" id="id_password" class="form-control" required placeholder="e.g. RentEase4All">
                        <div class="text-end mt-1">
                            <a href="{% url 'password_reset' %}" class="text-decoration-none small">Forgot Password?</a>
                        </div>
                       
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>

                <div class="text-center mt-4">
                    <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-decoration-none">Register</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4"></div>
</div>
{% endblock %}
